* {
	box-sizing: border-box;
}

body {
	width: 340px;
	margin: 0 auto;
	font-size: 1em;
	font-family: sans-serif;
	color: gray;
	letter-spacing: .02em;
	background-color: black;
}

@media screen and (min-width: 630px) {
	body {
		width: 615px;
	}
}

p {
	margin: 0;
}

.archer-banner {
	display: block;
	width: 100%;
	margin: 10px auto 0 auto;
}

.game-button-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 15px auto 0 auto;
}

[data-value] {
	width: 165px;
	height: 190px;
	display: inline-block;
	opacity: 0.4;
}

[data-value]:nth-child(odd) {
	margin-bottom: 7px;
}

@media screen and (min-width: 630px) {
	[data-value] {
		width: 200px;
		height: 230px;
	}
}

.game-console {
	display: flex;
	width: 100%;
	margin: 0 auto 0 auto;
}

.start-game {
	flex-basis: 40%;
	background-color: #48f100;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	color: black;
	border: 1px dashed gray;
}

.stats {
	flex-basis: 60%;
	display: flex;
	flex-wrap: wrap;
	height: 83px;
	padding: 10px;
	border: 1px dashed gray;
}

@media screen and (min-width: 630px) {
	.stats {
		flex-wrap: nowrap;
		height: auto;
	}
}

.stats-text {
	flex-basis: 100%;
	margin: 0 15px 0 0;
}

@media screen and (min-width: 630px) {
	.stats-text {
		flex-basis: initial;
	}
}

.stats-text span {
	margin-left: 3px;
	margin-right: 7px;
	font-weight: 700;
}

.message {
	margin-top: 7px;
	color: #48f100;
}

@media screen and (min-width: 630px) {
	.message {
		margin-top: 0;
	}
}

.high-score {
	padding: 5px;
	background-color: dimgray;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}